<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="HideOnRun"/>
		<add key="AutoCleanEnabled"/>
		<add key="MaxRecycleSizeGb"/>
		<add key="NoConfirm"/>
		<add key="NoProgress"/>
		<add key="NoSound"/>
		<add key="ShowNotifications"/>
	</appSettings>
		
</configuration>